.navbar{
     background-color: skyblue;
      border-radius: 2px;
      border: 5px solid rgb(102, 35, 35);


}
.logo{
     display: inline;

}
.logo img{
      height: 100px;
      width: 100px;
      margin: 4px 11px;
      padding: 11px;
      border-radius: 50%;
}
.link{
       display: inline-block;
       margin-right: 200px;
}
.link a{
     color:rgb(87, 30, 30);
     padding-top: 20px;
     margin: 0 10px;
     font-size: medium;
     font-family: Arial, Helvetica, sans-serif;
     border-radius: 10px;
}

.content{

     background-color: whitesmoke;
}
.box1{
     height: 100px;
     width:200px;
     background-color: rgb(146, 146, 50);
     color: rgb(42, 160, 207);
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     text-align: center;
     display: inline-block;
     border-radius: 55px;
     border: 5px solid  skyblue;
     margin-left: 70px;
     padding-top: 20px;

}
.box2{
     height: 100px;
     width:200px;
     background-color: rgb(146, 146, 50);
     color: rgb(42, 160, 207);
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     text-align: center;
     display: inline-block;
     border-radius: 55px;
     border: 5px solid  skyblue;
     margin-left: 70px;
     padding-top: 20px;


} 
.box3{
     height: 100px;
     width:200px;
     background-color: rgb(146, 146, 50);
     color: rgb(42, 160, 207);
     font-family: Arial, Helvetica, sans-serif;
     font-size: larger;
     text-align: center;
     display: inline-block;
     border-radius: 55px;
     border: 5px solid  skyblue;
     margin-left: 70px;
     padding-top: 20px;


}
.footer{

     height: 100px;
     width: 100%;
    
     color:black;

     text-align: center;

     font-size: small;

     font-family: Arial, Helvetica, sans-serif;
     border: 5px solid black;

     border-radius: 11px;
     margin-top: 6px;
     padding-top: 70px;
}